<div class="eye-subonline-table">
  <app-common-card nztitle="电销项目指标统计" [isHideGrayBg]="true">
    <div name="operate">
      <!-- <button nz-button *appIsshowbtn="'b040401'" [disabled]="!(tableTreeData && tableTreeData.length)"
        (click)="exportElectCark()" nzType="info">导出</button> -->
      <button nz-button *appIsshowbtn="'b040401'" [disabled]="!(tableTreeData && tableTreeData.length)" appExportExecl
        [getExportsParams]="getExportsParams" url="dms/excelExport/exportElectCark" nzType="info">导出</button>


    </div>
    <div name="middle-conent">

      <!-- <nz-table #nzTable
      [nzTotal]="total" [nzFrontPagination]="false" [nzShowQuickJumper]="true" [nzShowSizeChanger]='true'
      [nzShowSizeChanger]="true" [nzShowTotal]='totalTemplate' #groupingTable [nzData]="dataTable" nzBordered
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      [nzLoading]="loading"
      (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"
     [nzData]="dataTable" [nzShowPagination]="true"  [nzWidthConfig]="[
      '100px','100px','100px','100px','100px','100px','100px','100px','100px','100px','100px','100px']" 
      [nzScroll]="{ x:'1200px',y: '400px' }"> -->

      <nz-table #nzTableTree nzBordered [nzLoading]="loading" [nzFrontPagination]="false" [nzShowPagination]="false"
        [nzData]="tableTreeData" [nzWidthConfig]="widthConfig" [nzScroll]="scrollConfig">
        <thead>
          <tr *ngIf="tableTreeData && tableTreeData.length">
            <th nzLeft="0px">维度</th>
            <!-- <ng-container *ngFor="let item of electricStatisticsFieldData">
              <th>{{item.label}}</th>
            </ng-container> -->

            <ng-container *ngFor="let pitem of fieldKeys">
              <ng-container *ngFor="let sitem of filterFieldData[pitem].children">
                <th>{{sitem.label}}</th>
              </ng-container>
            </ng-container>
            <!-- <th>首咨分配数</th>
            <th>流水</th>
            <th>首咨报名率(%)</th>

            <th>首咨接通数</th>
            <th>首咨总拨打数</th>
            <th>销机</th>
            <th>财务消费</th>
            <th>首咨有效接通率(%)</th>

            <th>ARPU</th>
            <th>首咨接通率(%)</th>
            <th>首咨有效性(%)</th>
            <th>RPA</th>
            <th>RPC</th>
            <th>CPA</th>
            <th>名片成本</th> -->
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="nzTableTree.data">
            <ng-template ngFor let-item [ngForOf]="expandDataCache[data.key]">
              <tr *ngIf="(item.parent && item.parent.expand) || !(item.parent)">
                <td nzLeft="0px" [nzIndentSize]="item.level*20" [nzShowExpand]="!!item.children"
                  [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.key],item,$event)">
                  <a (click)="showDetail(item)" *ngIf="item.deptUserName !== '合计'">{{item.deptUserName || '--'}}</a>
                  <span *ngIf="item.deptUserName === '合计'">{{item.deptUserName || '--'}}</span>
                </td>
                <!-- <ng-container *ngFor="let sitem of electricStatisticsFieldData">
                  <td>{{item[sitem.value]}}</td>
                </ng-container> -->
                <ng-container *ngFor="let ppitem of fieldKeys">
                  <ng-container *ngFor="let sitem of filterFieldData[ppitem]['children']">
                    <td>{{item[sitem.value]}}</td>
                  </ng-container>
                </ng-container>
                <!-- <td>{{item.firstAllotdAco}}</td>
                <td>{{item.ordersAmo}}</td>
                <td>{{item.rate1}}</td>
               


                <td>{{item.firstCallAco}}</td>
                <td>{{item.firstAco}}</td>
                <td>{{item.effordersAcoFlow}}</td>
                <td>{{item.financeAmount}}</td>
                <td>{{item.rate6}}</td>

                <td>{{item.arpu}}</td>
                <td>{{item.rate3}}</td>
                <td>{{item.rate4}}</td>
                <td>{{item.rpa}}</td>
                <td>{{item.rpc}}</td>
                <td>{{item.cpa}}</td>
                <td>{{item.flowCost}}</td> -->
              </tr>
            </ng-template>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </app-common-card>
  <app-elstatdetail-list #elstatDetailList [reportDimensionParams]="electricityCardParams"></app-elstatdetail-list>

</div>