.common-card {
  .ant-card-head {
    line-height: 45px;
    min-height: 45px;
    padding: 0 10px;

    .ant-card-head-title {
      padding: 0;
      font-size: 14px;
      font-weight: bold;
    }

    .ant-card-extra {
      padding: 0;
    }
  }
  .ant-card-body{
    padding: 20px 10px;
    background-color: #F9F9F9;
    margin: 10px;
  }
  .hide-gray-bg{
    .ant-card-body{
      padding:0;
      background-color:transparent;
    }
  }
}
