<div class="eye-subidxnt-table">
  <ng-template #totalTemplate>
    总共 {{total}} 条
  </ng-template>
  <app-common-card [nztitle]="cardTitle" [isHideGrayBg]="true">
    <div name="operate">
      <button nz-button *appIsshowbtn="'b040901'" [disabled]="!(tableTreeData && tableTreeData.length)" nzType="info"
        (click)="exportsFile()">导出</button>

      <ng-container [ngTemplateOutlet]="exportsbtntpl" [ngTemplateOutletContext]="{ $implicit: tableTreeData }">
      </ng-container>





    </div>

    <div name="middle-conent">
      <nz-table #nzTableTree nzBordered [nzLoading]="loading" [nzData]="tableTreeData" [nzWidthConfig]="widthConfig"
        [nzScroll]="scrollConfig" [nzShowPagination]="showPagination" [nzFrontPagination]="false" [nzTotal]="total"
        [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" [nzShowTotal]='totalTemplate' [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)">
        <thead>
          <tr *ngIf="tableTreeData && tableTreeData.length">
            <th *ngIf="showFirstColumn" rowspan="2" nzLeft="0px">{{firstColumn['label']}}</th>
            <ng-container *ngFor="let item of fieldKeys">
              <th *ngIf="filterFieldData[item].showParentTitle && filterFieldData[item].children.length !== 0"
                [attr.colspan]="filterFieldData[item].children.length">{{
                    filterFieldData[item].name}}</th>
            </ng-container>
          </tr>
          <tr *ngIf="tableTreeData && tableTreeData.length">
            <ng-container *ngFor="let pitem of fieldKeys">
              <ng-container *ngFor="let item of filterFieldData[pitem].children">
                <th>{{item.label}}</th>
              </ng-container>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="treeFields">
            <ng-template ngFor let-data [ngForOf]="nzTableTree.data">
              <ng-template ngFor let-item [ngForOf]="expandDataCache[data.key]">
                <tr *ngIf="(item.parent && item.parent.expand) || !(item.parent)">
                  <td nzLeft="0px" [nzIndentSize]="item.level*20" [nzShowExpand]="!!item.children"
                    [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.key],item,$event)">
                    <span>
                      <ng-container
                        *ngIf="item.maFlag === '1' && !item.extChild && item.showName !== '合计'; else transusericon">
                        <!-- <i style="color: rgb(82, 196, 26)" nz-icon [nzType]="'user'" theme="outline"></i> -->
                        <!-- <i style="color: rgb(82, 196, 26)" nz-icon [nzType]="'smile'" [nzTheme]="'outline'"></i> -->
                        <i style="color: rgb(82, 196, 26)" nz-icon [nzType]="'star'" [theme]="'fill'"></i>
                      </ng-container>
                      <ng-template #transusericon>
                        <!-- <i style="color: transparent" nz-icon nzType="user" theme="outline"></i> -->
                        <!-- <i style="color: transparent" nz-icon [nzType]="'smile'" [nzTheme]="'outline'"></i> -->
                        <i style="color: transparent" nz-icon [nzType]="'star'" [theme]="'fill'"></i>


                      </ng-template>

                      {{item.showName || '--'}}
                    </span>
                  </td>

                  <ng-container *ngFor="let ppitem of fieldKeys">
                    <ng-container *ngFor="let sitem of filterFieldData[ppitem]['children']">
                      <td>{{item[sitem.value]}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
              </ng-template>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="!treeFields && tableTreeData && tableTreeData.length">
            <ng-template ngFor let-data [ngForOf]="nzTableTree.data">
              <tr>
                <td *ngIf="showFirstColumn" nzLeft="0px">{{data[firstColumn['value']]}}</td>
                <ng-container *ngFor="let ppitem of fieldKeys">
                  <ng-container *ngFor="let sitem of filterFieldData[ppitem]['children']">
                    <td>{{data[sitem.value]}}</td>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-template>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </app-common-card>

</div>