<div class="eye-index-overview">
  <app-common-card nztitle="查询包列表" [isHideGrayBg]="true">
    <div name="middle-conent">
    

      <nz-table #nzDataTable nzBordered
      nzShowSizeChanger
      [nzFrontPagination]="false" 
      [nzData]="tableData" 
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzShowTotal]="showTotal" 
      
      [nzPageSizeOptions]="pageSizeList" 
      [(nzPageIndex)]="pageNo"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="pageNoChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"
      >
        <thead>
          <tr>
            <th nzWidth="80px">序号</th>
            <th nzWidth="100px">名称</th>
            <th nzWidth="80px">类型</th>
            <th nzWidth="500px">查询包</th>
            <th nzWidth="80px">创建人</th>
            <th nzWidth="150px">创建时间</th>
            <th nzWidth="100px">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzDataTable.data; let idx = index">
            <td nzWidth="80px">{{data.qid}}</td>
            <td nzWidth="100px">{{data.packageName}}</td>
            <td nzWidth="80px">{{data.typeName}}</td>
            <td nzWidth="500px" style="word-break: break-word">{{data.packageValue}}</td>
            <td nzWidth="80px">{{data.createUser}}</td>
            <td nzWidth="150px">{{data.createTime}}</td>
            <td nzWidth="100px">
              <a class="mar-right10" *appIsshowbtn="editBtnVal" (click)="editQueryPacket(data.qid)">编辑</a>
              <nz-popconfirm [nzTitle]="'确认要删除吗?'" *appIsshowbtn="delBtnVal" (nzOnConfirm)="deleteQueryPacket(data.qid)">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
              <!-- <a class="mar-right10" (click)="editQueryPacket(data.qid)">编辑</a>
              <nz-popconfirm [nzTitle]="'确认要删除吗?'" (nzOnConfirm)="deleteQueryPacket(data.qid)">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm> -->
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </app-common-card>
  <app-newquerypackage-dialog [rowData]="rowData" (createQueryPackage)="refreshTable($event)" #newquerypackageDialog></app-newquerypackage-dialog>

  <ng-template #showTotal>
    共 {{total}} 条
  </ng-template>
</div>
