<div class="mitem mar-bot20" *ngFor="let key of keysArray">
  <div class="parent-checkbox mar-bot10" *ngIf="syllable[key].isShowTitle">
    <label nz-checkbox [(ngModel)]="syllable[key].allChecked" (ngModelChange)="updateAllChecked(key)"
      [nzIndeterminate]="syllable[key].indeterminate">
      {{syllable[key].name}}
    </label>
  </div>
  <div class="sub-checkbox mar-left30">
    <!-- <nz-checkbox-group [(ngModel)]="syllable[key].children" (ngModelChange)="updateSingleChecked(key)">
    </nz-checkbox-group> -->


    <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="updateSingleChecked(key, $event)">
      <div nz-row>
        <div nz-col nzSpan="4" *ngFor="let item of syllable[key].children">
          <label nz-checkbox [nzValue]="item.value" [(ngModel)]="item.authorityChecked">{{item.label}}</label>
        </div>
      </div>
    </nz-checkbox-wrapper>
  </div>

  
</div>