<div class="eye-subelectric-table">
  <app-common-card nztitle="指标统计" [isHideGrayBg]="true">
    <div name="operate">
      <!-- <button class="mar-right10" [disabled]="filterData && (filterData['periodType'] !== periodType)" nz-button nzType="primary" (click)="showCustomColumnDialog()">自定义列</button> -->

      <!-- <button class="mar-right10" nz-button nzType="primary" (click)="showCustomColumnDialog()">自定义列</button> -->

      <button nz-button *appIsshowbtn="'b040301'" [disabled]="!(tableTreeData && tableTreeData.length && filterData)"
        [isGetCostomMenu]="false" nzType="info" appExportExecl [getExportsParams]="getExportsParams"
        url="dms/excelExport/exportMDC">导出</button>
    </div>
    <div name="middle-conent">
      <nz-table #nzTableTree nzBordered [nzLoading]="loading" [nzFrontPagination]="false" [nzShowPagination]="false"
        [nzData]="tableTreeData" [nzWidthConfig]="widthConfig" [nzScroll]="scrollConfig">
        <thead>
          <tr *ngIf="tableTreeData && tableTreeData.length">
            <th nzLeft="0px">咨询师</th>
            <ng-container *ngFor="let pitem of fieldKeys">
              <ng-container *ngFor="let item of filterFieldData[pitem].children">
                <th>{{item.label}}</th>
              </ng-container>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="nzTableTree.data">
            <ng-template ngFor let-item [ngForOf]="expandDataCache[data.key]">
              <tr *ngIf="(item.parent && item.parent.expand) || !(item.parent)">
                <td nzLeft="0px" [nzIndentSize]="item.level*20" [nzShowExpand]="!!item.children"
                  [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.key],item,$event)">
                  <span>{{item.showName || '--'}}</span>
                </td>
                <ng-container *ngFor="let ppitem of fieldKeys">
                  <ng-container *ngFor="let sitem of filterFieldData[ppitem]['children']">
                    <td>{{item[sitem.value]}}</td>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-template>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </app-common-card>
  <app-custom-column-dialog (setFilterField)="serachData($event)" #customColumnDialog></app-custom-column-dialog>
  <!-- <ng-template #totalTemplate>
    总共 {{total}} 条
  </ng-template> -->
</div>