<div class="eye-set-index-authority">

  <button class="mar-bot10 mar-right10" nz-button nzType="default" (click)="goback()">返回</button>
  <app-common-card nztitle="设置指标权限">
    <div name="middle-conent">
      <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label nzFor="roleType">角色</nz-form-label>
          <nz-form-control>
            <nz-select id="roleType" style="width: 180px;" formControlName="roleType"
              (ngModelChange)="roleTypeChange($event)" nzPlaceHolder="请选择模块">
              <ng-container *ngFor="let item of roleTypesOptions">
                <nz-option *ngIf="!(item.optionName === '总览' || item.optionName === '网销电销实时')" [nzValue]="item.optionId"
                  [nzLabel]="item.optionName">
                </nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-control>
            <nz-select [nzServerSearch]="true" id="roleId" style="width: 180px;" formControlName="roleId"
              (ngModelChange)="roleIdChange($event)" nzPlaceHolder="请选择角色">
              <ng-container *ngFor="let item of roleIds">
                <nz-option *ngIf="!optionsLoading" [nzValue]="item.roleId" [nzLabel]="item.roleName"></nz-option>
              </ng-container>
              <nz-option *ngIf="optionsLoading" nzDisabled nzCustomContent>
                <i nz-icon type="loading" class="loading-icon"></i> 加载中...
              </nz-option>-
            </nz-select>

          </nz-form-control>
        </nz-form-item>


      </form>
      <div class="mar-top20 bottomcontent" nz-row>
        <div nz-col [nzSpan]="5" class="menuleft">
          <div class="chi">
            <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="radioValueChange($event)">
              <label class="mar-bot5" *ngFor="let item of radioValuesOptions" nz-radio
                [nzValue]="item.value">{{item.label}}</label>
            </nz-radio-group>
          </div>
        </div>
        <div nz-col [nzSpan]="19" class="contentright">
          <div class="chi">
            <app-authority-optional-field [syllable]="syllable"></app-authority-optional-field>
          </div>
        </div>
      </div>

      <div class="mar-top20 txtright">
        <button nz-button nzType="default" (click)="resetForm()">重置</button>
        <button class="mar-left10" nz-button nzType="primary" (click)="submitForm()">确认</button>

      </div>
      <!-- <app-conent-child></app-conent-child> -->
    </div>
  </app-common-card>
</div>