<div class="eye-commonsearch-form">
  <app-common-card nztitle="筛选条件">
    <div name="middle-conent">
      <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-cascader #deptNameCascader (ngModelChange)="deptNameChange($event)" [nzChangeOnSelect]="true"
              nzAllowClear [nzShowSearch]="true" formControlName="deptName" [nzOptions]="deptNameOptions"
              nzPlaceHolder="请选择部门/学院">
            </nz-cascader>
          </nz-form-control>
        </nz-form-item>

        <app-sx-select [selectGroup]="validateForm" bdFormControlName="userId" [optionsService]="commonrearformService"
          methodName="getUserByDeptId" [requestParams]="paramsAll" bdPlaceHolder="请选择班主任" [bdServerSearch]="true">
        </app-sx-select>

        <nz-form-item *ngIf="isShowRangePicker">
          <nz-form-label>日期</nz-form-label>
          <nz-form-control>
            <nz-range-picker [nzAllowClear]="false" [nzDisabledDate]="rangePickerDisabledDate"
              formControlName="rangePicker"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>


        <app-sx-select *ngIf="isShowDutyState" label="在岗状态" [checkBoxRenderX]="false" [selectGroup]="validateForm"
          bdFormControlName="state" [optionsService]="commonrearformService" methodName="getUserState"
          [requestParams]="paramsAll" [isShowAll]="true" bdMode="default" bdPlaceHolder="请选择在岗状态"
          [bdServerSearch]="true"></app-sx-select>

        <div>
          <nz-form-item>
            <nz-form-control>
              <button nz-button [nzLoading]="loading" nzType="primary">查询</button>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button [nzLoading]="loading" (click)="resetForm($event)">重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>

    </div>
  </app-common-card>
</div>