.eye-set-metrics-permission{
    [nz-radio] {
        display: block;
    }
    .bottomcontent{
        background-color: #fff;
    }
    .menuleft{
       padding: 20px;
    }
    .contentright{
        padding: 20px;
    }
}


